<p><ul>
  {{#if isLoggedIn}}
  <li><a href="/login/logout">Logout</a></li>
  <li><a href="/transform">transform</a></li>
  <li><a href="/profile">profile</a></li>
  <li><a href="/community">community</a></li>
{{else}}
  <li><a href="/login">Login</a></li>
  <li><a href="/register">Register</a></li>
{{/if}}
</ul></p>