{{#if isLoggedIn}}
<p>
<ul class="lists">
  <li><a href="/logout">Logout</a></li>
  <li><a href="/transform">transform</a></li>
  <li><a href="/profile/{{id}}">profile</a></li>
  <li><a href="/community/page/1">community</a></li>
</ul>
</p>
{{else}}
<p>
<ul>
  <li><a href="/login">Login</a></li>
  <li><a href="/register">Register</a></li>
</ul>
</p>
{{/if}}
<style>
  .lists li{
    font-size: 50px;
  }
</style>