<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>

    {{>header}}
    {{{body}}}
    {{#if isEmpty}}
    <p><a href="/">BACK TO HOME</a></p>
    {{else}}
    {{>footer}}
    {{/if}}
    
</body>
<script>
        function loading_st() {
            var ct_left = (parseInt(window.screen.width) - 450) / 2;
            var ct_top = (parseInt(window.screen.height)) / 3;
            layer_str = "<div id='loading_layer' style='position:absolute; background-color:; font-size:15px; left:" + ct_left + "px; top:" + ct_top + "px; width:400px; height:; padding:50px; text-align:center; vertical-align:middle; z-index:1000; font-weight: bold;'>로딩중입니다.</div>"
            document.write(layer_str);
        }
        function loading_ed() {
            var ta = document.getElementById('loading_layer');
            ta.style.display = 'none';
        }
        loading_st();
        window.onload = loading_ed;
</script>
</html>