<h1>
    {{id}} Profile
</h1>
<p>
    hi! foreigner {{name}} <br>
    this is {{master}} `s home <br>
<br>
take a look

    
</p>

<input type="button" value="Say hello" onClick="showAndroidToast('Hello Android!')" />

<script type="text/javascript">
    function showAndroidToast(toast) {
        Android.showToast(toast);
    }
</script>