<p> huh, this is cozy </p>
<div>
    <input type="checkbox" name="season" id="all" onclick="check(this)">전부
    <input type="checkbox" name="season" id="spring" onclick="check(this)">봄
    <input type="checkbox" name="season" id="summer" onclick="check(this)">여름
    <input type="checkbox" name="season" id="autumn" onclick="check(this)">가을
    <input type="checkbox" name="season" id="winter" onclick="check(this)">겨울
</div>
<div>
    <button onclick="location.href='/community/create'">생성하기</button>
</div>

<table border="1">
    <tr>
        <td>Image</td>
        <td>게시자 ID</td>
        <td>내용</td>
        <td>조회수</td>
        <td>좋아요ㅎ</td>
        <td>댓글수</td>
        <td>등록일</td>
    </tr>
        {{{#each data}}}
    <tr id="{{{PostBoard_Type}}}" style="">
        <td>{{{PostID}}}</td>
        <td>userid</td>
        <td>{{{Post_Text}}}</td>
        <td>look</td>
        <td>comment</td>
        <td>like</td>
        <td>{{{Post_Time}}}</td>
    </tr>
        {{{/each}}}
</table>

<script>

    function check(here){
        const checkbox = document.getElementsByName("season");
        checkbox.forEach((i)=>{
            i.checked = false;
        })
        here.checked = true

    }
</script>