<form action="/community/create" method="post">
   <select name="Pictureid" id="Pictureid">
        {{#each image}}
        <option value="{{this.Up_Img_Nm}}">{{this.Up_Img_Nm}}</option>
        {{/each}}
    </select>

    <div id="in_content">
        <textarea name="content" id="content" placeholder="내용" required></textarea>
    </div>

    <div class="bt_se">
        <button type="submit">글 작성</button>
    </div>
</form>