<h1><p class="text-center fw-bold" style="color: #4E5255; margin : 60px">PicSeason</p></h1>

<h5><p class="text-center fw-bold" style="color: #4E5255; margin : 30px">존재하지 않는 페이지 입니다.</p></h5>
<div class="text-center" style="padding:15px;">
    <button type="button" class="btn btn-outline btn-sm" style="background-color: #9C9584;" onclick="location.href='/'; "><a style="color: white">BACK TO HOME</a></button>
</div>
