<h1><p class="text-center fw-bold" style="color: #4E5255; margin : 30px">PicSeason</p></h1>

{{#if isLoggedIn}}
<div class="d-grid gap-2 col-6 mx-auto text-center" style="margin:50px;">
    <button type="button" class="fw-bold btn btn-outline btn-sm" style="background-color: #9C9584;" ><a href= "/logout" style="color: white">Logout</a></button>
    <button type="button" class="fw-bold btn btn-outline btn-sm" style="background-color: #9C9584; " onClick="showAndroidToast('{{id}}')">
        <a style="color: white;">확인</a>
    </button>
</div>

<script type="text/javascript">
    function showAndroidToast(toast) {
        Android.AppConnection(toast);
    }
</script>
{{else}}
<p>
<ul>
  <div class="d-grid gap-2 col-6 mx-auto position-absolute top-50 start-50 translate-middle">
    <button type="button" class="fw-bold btn btn-outline btn-lg" style="background-color: #9C9584;">
      <a href="/login" style="color: white;">Login</a>
    </button>
      <button type="button" class="fw-bold btn btn-outline btn-lg" style="background-color: #9C9584;">
        <a href="/register" style="color: white;">Register</a>
      </button>
  </div>
</ul>
</p>
{{/if}}