<img src="/icons/loading.gif" alt="load">
<p id="time">

</p>
<script>
    var dom = document.getElementById("time")
    setTimeout(()=>{dom.innerHTML = `<a href='/transform/result'> 보러가기 </a>`}, 15000)
</script>