<form action="/login" method="POST">
<div>
    <div>
        아이디 :
        <input type="text" name="id" id="id">
    </div>
    <div>
        비번 :
        <input type="password" name="pwd" id="pwd">
    </div>
    <div>
        <button>로그인</button>
    </div>
</div>
</form>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/register">SignUp</a></li>
</ul>