<h1><p class="text-center fw-bold" style="color: #4E5255; margin : 30px">PicSeason</p></h1>
<form action="/login/process" method="post">
    <div class="position-absolute top-50 start-50 translate-middle fw-bold">
        <div style="text-align: center; padding: 5px; color: #4E5255;">
            ID
            <input type="text" name="id" id="id">
            <p style="color: #DC143C;">{{message}}</p>
        </div>
        <div style="text-align: center; padding: 5px; color: #4E5255;">
            PW
            <input type="password" name="pwd" id="pwd">
        </div>
        <div style="text-align: center; padding: 10px; ">
            <button type="submit" class="btn btn-outline btn-sm" style="background-color: #9C9584;" value="Login">
                <a style="color: white;">Login</a>
            </button>
        </div>
    </div>
</form>

