<form action="/transform" method="post">
    <input type="file" name="image" id="image">
    <input type="hidden" name="origin" value="winter">
    <input type="hidden" name="id" value="id">
    <input type="hidden" name="convert" value="convert">
    <button>rrsdfsdf</button>
</form>