<h1><p class="text-center fw-bold" style="color: #4E5255; margin : 50px">No profile in here</p></h1>
<div class="fs-5 text-center" style="color: #4E5255; margin : 10px; ">Hi {{id}}.<br>It's either a non-existent member or a member who has left.</div>

<p class="position-absolute bottom-0 start-50 translate-middle-x" ><a href="/" style="color: #606F76 ;">BACK TO HOME</a></p>

