<h1><p class="text-center fw-bold" style="color: #4E5255; margin : 30px">PicSeason</p></h1>

<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<div class="d-flex justify-content-center">
<form action="/register" method="post" id="register">
    <div>
        <span class="fs-4 fw-bold" style="color: #4E5255; margin: 3px;">Email</span>
        <div class="input-group mb-3" style="width: 400px;">
            <input type="email" class="form-control" placeholder="Enter Email Address" name="email" id="email" required>
        </div>

        <span class="fs-4 fw-bold" style="color: #4E5255; margin: 3px;">ID</span>
        <p id="isFailed"></p>
        <p id="test">Error. Please press refresh.</p>
        <div class="input-group mb-3" style="width: 400px;">
            <input type="text" class="form-control" placeholder="Between 5 and 10 in English" name="id" id="id" pattern="[A-Za-z].{5,15}" required>
        </div>

        <span class="fs-4 fw-bold" style="color: #4E5255; margin: 3px;">Password</span>
        <div class="input-group mb-3" style="width: 400px;">
            <input type="password" class="form-control" placeholder="Enter password  between 5 and 10 characters" name="pwd" id="pwd" pattern=".{5,10}" required>
        </div>
        
        <span class="fs-4 fw-bold" style="color: #4E5255; margin: 3px;">Confirm Password</span>
        <p id="same"></p>
        <div class="input-group mb-3" style="width: 400px;">
            <input type="password" class="form-control" placeholder="Enter Confirm Password" name="check" id="check" pattern=".{5,10}" required>
        </div>
        
        <span class="fs-4 fw-bold" style="color: #4E5255; margin: 3px;">Name</span>
        <div class="input-group mb-3" style="width: 400px;">
            <input type="text" class="form-control" placeholder="Enter your name between 1 and 8 characters" name="name" id="name" pattern=".{1,8}" required>
        </div>

        <div class="text-center">
        <button type="submit" id="target" disabled="false" class="btn btn-outline btn-sm" style="background-color: #9C9584;">
                <a style="color: white;">Register</a>
        </button>
        </div>
    </div>
</form>
</div>

<style>
    #isFailed {
        display: none;
        color: #DC143C;
    }

    #same {
        color: #DC143C;
    }

    #test {
        display: none;
    }
</style>
<script>
    $(() => {
        var ischecked = false
        var isPassed = false
        $("#check").focusout(() => {
            var pwd = $("#pwd").val()
            var cd = $("#check").val()
            if (!(pwd == cd)) {
                $("#same").text("Please check again.")
                ischecked = false
            }
            else { 
                $("#same").text("The same password")
                ischecked = true
                 }

                 if (isPassed && ischecked) { $('#target').attr('disabled', false); }
        else { $('#target').attr('disabled', true); }
        })

        $("#id").focusout(() => {
            
            var id = $('#id').val();
            $.ajax({
                type: 'POST',
                data: { id: id },
                url: "/register/idcheck",
                success: (txt) => {
                    var target = document.getElementById("target_btn");
                    if (txt.length) {
                        $("#isFailed").css("display", "inline").text("This ID exists.")
                        isPassed = false
                    }
                    else {
                        $("#isFailed").css("display", "inline").text("Available")
                        isPassed = true
                    }
                },
                error: (txt) => $("#test").css("display", "inline")

            })
        if (isPassed && ischecked) { $('#target').attr('disabled', false); }
        else { $('#target').attr('disabled', true); }

        })

    })
    btn = document.getElementById("target")
    btn.onclick = () => {
        alert("Welcome!")
    }
</script>