<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<form action="/register" method="post" id="register">
    <div>
        <div>
            이메일 :
            <input type="email" name="email" id="email" required>
        </div>
        <div>
            아이디 5에서 15자 사이 영문 :
            <input type="text" name="id" id="id" pattern="[A-Za-z].{5,15}" required>
            <p id="isFailed"></p>
            <p id="test">에러입니다 새로고침을 눌러주세요</p>

        </div>
        <div>
            비번 5에서 10자 사이:
            <input type="password" name="pwd" id="pwd" pattern=".{5,10}" required>
        </div>
        <div>
            비번 다시적어요:
            <input type="password" name="check" id="check" pattern=".{5,10}" required>
            <p id="same"></p>
        </div>
        <div>
            이름 1에서 8자 사이:
            <input type="text" name="name" id="name" pattern=".{1,8}" required>
        </div>
        <input type="submit" value="회원가입" id="target" disabled="false">
    </div>
</form>
<style>
    #isFailed {
        display: none;
        color: red;
    }

    #same {
        color: red;
    }

    #test {
        display: none;
    }
</style>
<script>
    $(() => {
        var ischecked = false
        var isPassed = false
        $("#check").focusout(() => {
            var pwd = $("#pwd").val()
            var cd = $("#check").val()
            if (!(pwd == cd)) {
                $("#same").text("달라요")
                ischecked = false
            }
            else { 
                $("#same").text("OK!")
                ischecked = true
                 }

                 if (isPassed && ischecked) { $('#target').attr('disabled', false); }
        else { $('#target').attr('disabled', true); }
        })

        $("#id").focusout(() => {
            
            var id = $('#id').val();
            $.ajax({
                type: 'POST',
                data: { id: id },
                url: "/register/idcheck",
                success: (txt) => {
                    var target = document.getElementById("target_btn");
                    if (txt.length) {
                        $("#isFailed").css("display", "inline").text("존재하는 아이디입니다.")
                        isPassed = false
                    }
                    else {
                        $("#isFailed").css("display", "inline").text("사용할 수 있는 아이디입니다.")
                        isPassed = true
                    }
                },
                error: (txt) => $("#test").css("display", "inline")

            })
        if (isPassed && ischecked) { $('#target').attr('disabled', false); }
        else { $('#target').attr('disabled', true); }

        })

    })
    btn = document.getElementById("target")
    btn.onclick = () => {
        alert("환영합니다~")
    }
</script>