

<div class="d-grid gap-2 col-6 mx-auto text-center" style="margin:50px;">
    <button type="button" class="fw-bold btn btn-outline btn-lg" style="background-color: #9C9584;" ><a href= "/logout" style="color: white">Logout</a></button>
    <button type="button" class="fw-bold btn btn-outline btn-lg" style="background-color: #9C9584;" ><a href="/profile/{{id}}" style="color: white">Guide</a></button>
</div>


<div class="text-center" style="margin: 50px;"> 
    <button type="button" class="fw-bold btn btn-outline btn-lg" style="background-color: #4E5255; " onClick="comfirmAlert('{{id}}')">
        <a style="color: white;">Unregister</a>
    </button>
</div>

<script type="text/javascript">
    function comfirmAlert(id) {
        if (confirm("Do you really want to unRegister? There's no turning back.")) {
            fetch('/restapi/member?user=' + id, {method: 'delete'}).then(location.replace("/"))
        }
    }
</script>