<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<h1> transform</h1>
<p>before</p>
<select name="before" id="before">
    {{#each beforeImgs}}
    <option value="{{this.Up_Img_Nm}}">{{this.Up_Img_Nm}}</option>
    {{/each}}
</select>
<button id="before">before</button>
<p>after</p>
<button id="after">transforming</button>

<img src="webpy\converts\cropped8742910357553085691.jpg" alt="after img">
<script>
    $(() => {
        $("after").click(() => {
            $.ajax({
                beforeSend: () => {
                    $('#after').blur()
                }
            })
        })
    })
</script>